<form data-ng-submit="editVm.save(editVm.objToEdit)">
	<div class="modal-header">
		<h3>Edition de : </h3>
		<span>{{::editVm.objToEdit.artifactId}}</span><span class="pull-right label label-info">{{::editVm.objToEdit.version}}</span>
		
	</div>

	<div class="modal-body">	
		<div class="form-group">
			<label for="modalSelectStatutId">Statut</label>
			<select id="modalSelectStatutId" class="form-control" data-ng-model="editVm.objToEdit.statut">
				<option data-ng-repeat="option in editVm.listStatus" value="{{::option.id}}">{{::option.id}}</option>
			</select>
		</div>	
		<div class="form-group">
			<label for="modalAutValId">Auteur Validation</label>
			<input id="modalAutValId" class="form-control" type="text" data-ng-model="editVm.objToEdit.auteur"></input>
		</div>	
		<div class="form-group">
			<label for="modalRespValId">Responsable Validation</label>
			<input id="modalRespValId" class="form-control" type="text" data-ng-model="editVm.objToEdit.responsableValidation"></input>
		</div>
		<div class="form-group">
			<label for="modalComId">Commentaire</label>
			<textarea id="modalComId" class="form-control" rows="2" data-ng-model="editVm.objToEdit.commentaire"></textarea>
		</div>	
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success pull-right">Enregistrer</button>
		<button class="btn btn-danger pull-left" data-ng-click="editVm.cancel()" type="button">Annuler</button>
	</div>
</form>