<form class="form-horizontal">
	<!-- Description du composant -->	
	<div class="panel panel-success">
		<div class="panel-heading">
			<h4>Ressource Composant</h4>
		</div>
		<div class="panel-body in-fading" data-ng-if="resscDetVm.ressc && !resscDetVm.errorRessc">
			<div class="form-group">
				<label for="inputVersionId" class="col-sm-2 control-label">Version</label>
				<div class="col-sm-4">
					<select id="inputVersionId" class="form-control" 
						data-ng-model="resscDetVm.selectedVersion"
						data-ng-options="option.version for option in resscDetVm.listVersion track by option.id"
						data-ng-change="resscDetVm.goToRessource(resscDetVm.selectedVersion.id)">
					</select>
				</div>
				<div class="col-sm-2">
					<a class="btn control-label pull-right" role="button" data-ng-click="resscDetVm.showSwagger()">
						<img src="favicon.ico">
					</a>				
				</div>
			</div>
			<div class="form-group">
				<label for="inputArtifactId" class="col-sm-2 control-label">Artifact Id</label>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="inputArtifactId" readonly data-ng-model="::resscDetVm.ressc.ress.artifactId"></input>
				</div>
			    <label for="inputGroupId" class="col-sm-2 control-label">Group Id</label>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="inputGroupId" readonly data-ng-model="::resscDetVm.ressc.ress.groupId"></input>
				</div>
			</div>
			<div class="divider-block"></div>
			<div class="form-group">
				<label for="inputModaId" class="col-sm-2 control-label">Modalit&eacute;</label>
			    <div class="col-sm-4">
			    	<input type="text"class="form-control" id="inputModaId" readonly data-ng-model="::resscDetVm.ressc.modalite"></input>
				</div>
				<label for="inputCodeAppId" class="col-sm-2 control-label">Code Application</label>
			    <div class="col-sm-4">
			    	<input type="text"class="form-control" id="inputCodeAppId" readonly data-ng-model="::resscDetVm.ressc.codeApplication"></input>
				</div>
			</div>
			<div class="form-group">
			    <label for="inputDescId" class="col-sm-2 control-label">Description</label>
			    <div class="col-sm-10">
			    	<textarea rows="2" class="form-control" id="inputDescId" readonly data-ng-model="::resscDetVm.ressc.description"></textarea>
				</div>
			</div>
			<div class="form-group">
			    <label for="inputTagsId" class="col-sm-2 control-label">Tags</label>
			    <div class="col-sm-10">
			    	<textarea rows="2" class="form-control" id="inputTagsId" readonly data-ng-model="::resscDetVm.ressc.tags"></textarea>
				</div>
			</div>
			<div class="divider-block"></div>
			<div class="form-group">
			    <label for="inputLastModId" class="col-sm-2 control-label">Last Mod.</label>
			    <div class="col-sm-4">
			    	<input type="text" cats-date-input class="form-control" id="inputLastModId" readonly data-ng-model="::resscDetVm.ressc.lastModified"></input>
				</div>
				<label for="inputAuteurId" class="col-sm-2 control-label">Auteur Val.</label>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="inputAuteurId" readonly data-ng-model="::resscDetVm.ressc.auteur"></input>
				</div>
			</div>
			<div class="form-group">
				<div class="has-{{::resscDetVm.ressc.statut.classe}}">
				    <label for="inputValidationStateId" class="col-sm-2 control-label">Validation</label>
				    <div class="col-sm-4">
					   	<input id="inputValidationStateId" type="text" readonly class="form-control" data-ng-model="::resscDetVm.ressc.statut.id"></input>
					</div>
				</div>
				<label for="inputResponsableId" class="col-sm-2 control-label">Responsable Val.</label>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="inputResponsableId" readonly data-ng-model="::resscDetVm.ressc.responsableValidation"></input>
				</div>
			</div>    
			<div class="form-group">
			    <label for="inputComId" class="col-sm-2 control-label">Commentaire</label>
			    <div class="col-sm-10">
			    	<textarea rows="2" class="form-control" id="inputComId" readonly data-ng-model="::resscDetVm.ressc.commentaire"></textarea>
				</div>
			</div>
			<button type="button" class="btn btn-success pull-right" data-ng-click="resscDetVm.showEditModal(resscDetVm.ressc)">
				Editer <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</button>
		</div>
		<div class="panel-body in-fading" data-ng-if="!resscDetVm.ressc && !resscDetVm.errorRessc">
			Chargement ...
		</div>
		<div class="panel-body" data-ng-if="resscDetVm.errorRessc">
			<div class="alert alert-danger">
				Erreur lors du chargement des donn&eacute;es
			</div>
		</div>
	</div>

	<!-- Liste des path associés -->
	<div class="panel panel-warning">
		<div class="panel-heading">Requ&ecirc;tes de la Ressource</div>
		<table class="table table-striped in-fading" data-ng-if="resscDetVm.listRequest && !resscDetVm.errorListRequest">
			<thead>
				<tr>
					<th>Verb</th>
					<th>Path</th>
					<th>Summary</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="request in resscDetVm.listRequest track by request.id">
					<td data-ng-bind="::request.verb"></td>
					<td data-ng-bind="::request.path"></td>
					<td data-ng-bind="::request.summary"></td>
					<td data-ng-bind="::request.tags"></td>
				</tr>
			</tbody>
		</table>	
		<div class="panel-body in-fading" data-ng-if="!resscDetVm.listRequest && !resscDetVm.errorListRequest">
			Chargement ...
		</div>
		<div class="panel-body" data-ng-if="resscDetVm.errorListRequest">
			<div class="alert alert-danger">
				Erreur lors du chargement des donn&eacute;e
			</div>
		</div>
	</div>
	
	<!-- Liste des apimc -->
	<div class="panel panel-info">
		<div class="panel-heading">Liste d'API contenant la Ressource</div>
		<table class="table table-striped table-hover in-fading" data-ng-if="resscDetVm.listApimc && !resscDetVm.errorDependencies">
			<thead>
				<tr>
					<th>ID</th>
					<th>Artifact</th>
					<th>Code App.</th>
					<th>Version</th>
					<th>Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr class="cursor-pointer" data-ng-repeat="apimc in resscDetVm.listApimc track by apimc.id" data-ng-click="resscDetVm.goToApimc(apimc.id)">
					<td data-ng-bind="::apimc.id"></td>
					<td data-ng-bind="::apimc.apim.artifactId"></td>
					<td data-ng-bind="::apimc.codeApplication"></td>
					<td data-ng-bind="::apimc.version"></td>
					<td><span class="label label-{{::apimc.statut.classe}}" data-ng-bind="::apimc.statut.id"></span></td>
				</tr>
			</tbody>
		</table>	
		<div class="panel-body in-fading" data-ng-if="!resscDetVm.listApimc && !resscDetVm.errorDependencies">
			Chargement ...
		</div>
		<div class="panel-body" data-ng-if="resscDetVm.errorDependencies">
			<div class="alert alert-danger">
				Erreur lors du chargement des donn&eacute;e
			</div>
		</div>
	</div>
</form>